@import "./reset";
@import "./typography";

html, body {
    background-color: black;
    height: 100%;
}

.header {
    background-image: url("../assets/scott-webb-JNPvv1u8yRg-unsplash-1920.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right 0 top 0;
    height: 100%;

    &__title {
        color: white;
        font-family: Roboto;
        font-size: 70px;
        text-transform: uppercase;
    }
}

