@import "./reset";
@import "./typography";

.header {
    background-image: url("../assets/scott-webb-JNPvv1u8yRg-unsplash-1920.jpg");
    background-size: cover;
    position: absolute;
    inset: 0;

    &__title {
        color: white;
        font-family: Roboto;
        font-size: 70px;
        text-transform: uppercase;
    }
}