@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html, body {
  height: 100%;
}

.header {
  background-image: url("../assets/man_doing_pullup.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  .header {
    background-position: top;
  }
}
.header__cta-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  flex-direction: column;
  padding: 0 12px 10%;
  animation-name: fadeIn;
  animation-duration: 4s;
}
@media (min-width: 768px) {
  .header__cta-wrapper {
    justify-content: center;
    padding: 0 40px;
  }
}
@media (min-width: 768px) {
  .header__cta-wrapper {
    justify-content: flex-end;
    padding: 0 6% 6%;
  }
}
.header__title {
  color: white;
  font-family: Roboto;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 70px;
  }
}
.header__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-family: Roboto;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__subtitle {
    font-size: 30px;
  }
}
.header__cta {
  background-color: #CDFE07;
  color: black;
  align-self: flex-start;
  padding: 8px 30px;
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
  margin-top: 40px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__cta {
    font-size: 30px;
  }
}

.trainers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trainers__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 60rem;
}
.trainers__card {
  width: 100%;
  height: 30rem;
  opacity: 0.5;
  background-size: cover;
}
.trainers__card--one {
  background-image: url("../assets/trainer-1.jpg");
}
.trainers__card--two {
  background-image: url("../assets/trainer-2.jpg");
}
.trainers__card--three {
  background-image: url("../assets/trainer-3.jpg");
}
.trainers__card-image {
  width: 150;
  height: 150;
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
